.background-animation {
    object-fit: cover;
    width: 100%;
    height: 120%;
    position: fixed;
    margin-top: -160px;
    z-index: -1;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
}

.home-hero-logo {
    z-index: 1;
    display: block;
    width: 60%;
    height: auto;
    margin-top: 20vh;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
    border-radius: 5px;
    border-color: rgb(255, 0, 55);
}

.tagline {
    margin-top: 10vh;
    margin-bottom: 20vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(30, 243, 94);
    text-shadow: -3px 3px 3px rgb(255, 0, 55);
    /* margin-top: -100px; */
    background-image: none;
    text-align: center;
    font-family: coinage;
    font-size: 4vh;
}

/* Adding the DragonSlapper font */
@font-face {
    font-family: 'dragonslapper';
    src:url(/src/fonts/Dragonslapper.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'coinage';
    src:url(/src/fonts/CoinageCapsKrugerGray.ttf);
    font-style: normal;
    font-weight: 300;
}

@media screen and (max-width: 1000px) {

    .hero-container .tagline {
        font-size: 3vh;
        width: 80%;
    }

    .titlebox-heading {
        font-size: 3vh;
    }

    .tagline {
        font-size: 3vh;
    }
}