.page-container {
    height: fit-content;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2); */
    object-fit: contain;
    margin-top: 10vh;
    margin-bottom: none;
}

.background-animation {
    object-fit: cover;
    width: 100%;
    height: 120%;
    position: fixed;
    margin-top: -160px;
    z-index: -1;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
}

.hero-logo {
  z-index: 1;
  display: block;
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-right: 20%;
  align-items: center;
  margin-top: 0;
}

.press-kit-heading {
    color: rgb(253, 241, 128);
    font-family: 'Jura', sans-serif;
    font-size: 6vh;
    line-height: 6.6vh;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-position-x: center;
  }

.press-kit-subheading {
    color: rgb(253, 241, 128);
    font-family: 'Jura', sans-serif;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vh;
    font-weight: 500;
    width: 100%;
    background-position-x: center;
  }

  .boilerplate {
    color: rgb(253, 241, 128);
    font-family: 'Jura', sans-serif;
    font-size: 3.5vh;
    text-align: left;
    align-self: left;
    align-items: left;
    margin: 0;
  }

  @media only screen and (max-width: 1024px) {
    .press-kit-heading {
      font-size: 4vh;
      line-height: 4.5vh;
      width: 100%;
    }
  
  .press-kit-subheading {
      font-size: 3.6vh;
      line-height: 4vh;
      width: 100%;
    }
  }