.row-content-text {
    font-family: 'Jura', sans-serif;
    font-weight: regular;
    text-shadow: 1px 1px #534b17;
}

.row-title-text {
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px #534b17;
}