* {
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}

.titlebox-container {
    width: min-content;
    height: min-content;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-self: center;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;

    width: 50%;

    opacity: 0.95;
}

.titlebox-vertical-block-top {
    width: 100%;
    max-width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.titlebox-vertical-block-bot {
    width: 100%;
    max-width: 100%;
    height: 32px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1px;; /* removes gap at bot */
}

.titlebox-vertical-block {
    width: 100%;
    max-width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.titlebox-vertical-block>* {
    width: auto;
    height: 100%;

    object-fit: fill;
}

.titlebox-vertical-block-top>*:nth-child(2) { /* selects the middle img (2nd child) */
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
}

.titlebox-vertical-block-bot>*:nth-child(2) { /* selects the middle img (2nd child) */
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
}

.titlebox-center-block {
    height: auto;

    align-items: stretch;

    background-image: url('/src/images/Titlebox_V2/Titlebox_Center.png');
    background-size: 100% 100%;
    background-repeat: repeat;
}

#top-middle {
    height: 40px;
}

#bot-middle {
    height: 30px;
}

.titlebox-center-block .titlebox-vertical-block>* {
    height: initial;
}

.titlebox-center-block>.titlebox-block {
    width: 6px;
}

.titlebox-center-block>textarea {
    width: auto;
    height: auto;

    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;

    margin: 16px;
    padding: 16px;
}

#side-border {
    width: 4px;
    height: auto;
}

.text-area {
    width: 100%;
    height: 100%;
    text-overflow: wrap;
    padding: 2vh 4vw 2vh 4vw;
}

h2 {
    font-family: 'Jura', sans-serif;
    font-weight: bolder;
    font-size: 4vh;
    line-height: 4.5vh;
    color: rgb(253, 241, 128);
    text-align: center;
    margin-top: -4px;

    background-image: none;
}